<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', main_app.destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', main_app.edit_user_registration_path %></li>
<% else %>
	<% if !user_signed_in? %>
	  <li><%= link_to 'Sign up', new_user_registration_path %></li>
	<% end %>  
<% end %>
<% if user_signed_in? %>
	<% if can? :manage, @user %>
  		<li><%= link_to 'Users', main_app.users_path %></li>
  	<% end %>
<% if user_signed_in? %>
	<li><%= link_to 'NStock', main_app.n_stock_path %></li>
<% end %> 

<% end %>